body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: #404040;
    background-color: white;
}

section {
    margin-bottom: 109px;
}

section.features {
    margin-bottom: 98px;
}

.page-header {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    background: url("../img/wheat-back.jpg") no-repeat;
    min-height: 550px;
    background-position: bottom;
    -webkit-background-size: cover;
    background-size: cover;
    color: #c3c3c3;
    background-color: #363636;
    margin-bottom: 30px;
}

.page-header .container {
    width: 800px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.header-logo {
    float: left;
    padding-top: 60px;
    width: 200px;
    height: 76px;
}
.header-logo img {
    width: 140px;
    height: 76px;
    padding-right: 60px;
}

.main-nav ul {
    float: left;
    padding: 0;
    list-style: none;
    margin: 70px 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    border-top: 1px solid rgba(255, 255, 255, .2);
    max-width: 600px;
}

.main-nav li {
    text-align: center;
    float: left;
    text-transform: uppercase;
    padding-bottom: 18px;
    padding-top: 15px;
    margin-right: 54px;
}

.main-nav li:first-child {
    margin-right: 55px;
}

.main-nav li:hover {
    border-bottom: 1px solid #FFF;
}

.main-nav li:last-child {
    margin-right: 0;
}

.main-nav a {
    color: #ffffff;
    text-decoration: none;
}

.main-nav a:hover {

    color: #ffcb78;
}

.main-nav a:active {
    color: rgba(255, 255, 255, 0.3);
}


.promo {
    margin-top: 120px;
}

.promo p{
     padding: 0;
    margin: 0 auto;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 70px;
    text-align: center;
    height: 140px;
    width: 800px;
    line-height: 70px;
}


.newsletter .container {
    width: 800px;
    margin: 0 auto;
}

.newsletter-news {
    font-size: 40px;
    text-transform: uppercase;
    margin: 96px 0 112px 0;
}

.history h2.newsletter-news {
    margin-bottom: 81px;
}

.newsletter .new-position {
    width: 398px;
    float: left;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.new-position:last-child {
    border-left: none;
}

.newsletter .new-position-name {
    text-transform: uppercase;
    width: 400px;
    margin-left: 34px;
    font-size: 40px;
}

.position-table {
    position: absolute;
    left: 222px;
    top: 66px;
}

.price-list {
    max-width: 150px;
    height: 85px;
    border-collapse: collapse;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
}

.price-list td {
    border: 1px solid #d8d8d8;
    padding-left: 12px;
}

.price-list .price-alc {
    width: 80px;
    text-align: left;
}

.price-list .price-percent {
    width: 70px;
    text-align: left;
}

.price-percent .first {
    padding-left: 10px;
}

.price-percent .second {
    padding-left: 1px;
}

.price-list .price-fat {
    width: 80px;
    text-align: left;
}

.price-list .price-count {
    width: 70px;
    text-align: left;
}
.new-position {
    position: relative;
}

.new-position .item-image {
    margin-left: 0px;
    margin-top: 10px;
    padding-left: 44px;
}

.new-position  .ingridients {
    width: 150px;
    float:right;
    line-height: 24px;
    font-size: 14px;
    margin-top: 10px;
    padding-left: 2px;
}

.new-position .about {
    float: left;
    width: 100%;
}
h3.new-position-name {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 45px;
}


div.about {
    max-width: 330px;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Arial', serif;
    margin: 0 auto;
}


.about .btn {
    margin-right: 10px;
}

.about a.btn-about{
    float: left;
    text-decoration: none;
    color: #834700;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding: 7px 20px;
    border: 2px solid #834700;
    cursor: pointer;
    margin: 0 34px;
    margin-right: 6px;
}

.about a.btn-about:hover {
    color: #6a3900;
    border-color: #6a3900;
    cursor: pointer;
}

.about a.btn-about:active {
    opacity: .3;
}

.about a.btn-buy {
    float: left;
    text-decoration: none;
    width: 66px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding: 7px 20px;
    border: 2px solid #834700;
    background-color: #834700;
    cursor: pointer;
    margin-right: 14px;

}

.about a.btn-buy:hover {

}

.about a.btn-buy:active {

}
.about .overprice {
    float: left;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    padding-left: 10px;
    background-color: #FFFFFF;
}

.buy {
    min-width: 400px;
}

.about-text {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 61px;
    margin-left: 35px;
    margin-top: 7px;
    width: 100%;
}

.features {
    background-color: #ffcb78;
    max-height: 410px;
}

.features ul {
    padding: 0;
    list-style: none;
    padding-top: 79px;
    padding-bottom: 87px;
}

.feature-item {
    position: relative;
    float: left;
    margin-bottom: 4px;
    padding-top: 40px;
    border-right: 1px solid #e5b66c;
}

.feature-item:last-child {
    border: none;
}

.feature-brew {
    width: 304px;
}

.feature-local {
    width: 306px;
    margin-left: 93px;
}

.feature-economy {
    margin-left: 95px;
    width: 210px;
}

.feature-brew::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    width: 61px;
    height: 67px;
    background-image: url("../img/icon-brew.png");
    background-repeat: no-repeat;
}

.feature-local::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 66px;
    background-image: url("../img/icon-matreshka.png");
    background-repeat: no-repeat;
}

.feature-economy::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 66px;
    height: 60px;
    background-image: url("../img/icon-thumbsup.png");
    background-repeat: no-repeat;
}

.feature-title {
    text-transform: uppercase;
    margin: 38px 0;
    margin-bottom: 20px;
    margin-top: 60px;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    font-family: "Arial", serif;
    color: #000;
}

.feature-item p {
    margin: 0;
    width: 210px;
    line-height: 30px;
    font-size: 16px;
}

.features .container {
    width: 1011px;
    margin: 0 auto;
}

.history {
    width: 800px;
    margin: 0 auto;
}

.history .newsletter-news {
    margin-bottom: 83px;
}

.history dl dt h3 {
    position: relative;
    float: left;
    font-size: 20px;
    width: 604px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 24px;
}

.history img {
    float: right;
    vertical-align: middle;
    width: 200px;
    height: 101px;
    margin-top: 9px;
}

.history dd  {
    margin: 0;
    padding: 0;
    margin-bottom: 62px;
}

.history dd p {
    font-size: 16px;
    line-height: 30px;
    width: 497px;
}

.about-us {
    min-height: 480px;
    background-color: #ede5d8;
}

.about-us h2.newsletter-news {
    margin-top: 78px;
    margin-bottom: 92px;
    padding-top: 100px;
}

.about-us p {
    line-height: 30px;
    font-family: 'Arial', serif;
    width: 700px;
    font-size: 16px;
    margin-top: 0;
}

.about-us blockquote {
    margin: 0;
    padding: 0;
}

blockquote::before {
    content: "";
    position: absolute;
    top: 222px;
    left: -106px;
    width: 40px;
    height: 30px;
    background-image: url("../img/quotes.png");
    background-repeat: no-repeat;
}

.about-us p {
    margin-bottom: 6px;
}

.about-us p.papper-name {
    float: right;
    font-family: Arial,serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 40px 0 0 0;
    width: 400px;
    text-align: right;
    height: 125px;
}

blockquote a {
    text-align: center;
    float: left;
    text-decoration: none;
    color: grey;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding: 13px 20px;
    border: 2px solid grey;
    line-height: 20px;
    cursor: pointer;
    margin-top: 29px;
}

.about-us .container {
    position: relative;
    width: 800px;
    margin: 0 auto;
}

section.range {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 90px;
}

.range h2.newsletter-news {
    margin-bottom: 92px;
}

.range .range-table {
    width: 100%;
    text-align: left;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    border-collapse: collapse;
}

.range .range-table tr {
    border-bottom: 1px solid grey;
}

.range .range-table th:first-child,
.range .range-table td:first-child {
    min-width: 211px;
}

.range .range-table th:last-child,
.range .range-table td:last-child  {
    text-align: right;
}

.range .range-table td:first-child {
    font-weight: bold;
}

.range .range-table th {
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: grey;
    padding-bottom: 31px;
}

.range .range-table td {
    padding: 17px 0 ;
}

.range .range-table sup {
    color: #FFF;
    background-color: #000;
    border-radius: 5px;
    font-size: 8px;
    padding: 2px 5px;
    margin-left: 21px;
}

.feedback {
    background-color: #ffcb78;
}

.feedback .container {
    width: 800px;
    margin: 0 auto;
}

.feedback h2.newsletter-news {
    margin-top: 0;
    margin-bottom: 94px;
    padding-top: 97px;
}

.feedback p {
    margin-bottom: 70px;
    font-family: 'Arial',sans-serif;
    font-size: 16px;
    line-height: 30px;
    width: 720px;
}

.feedback label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.feedback .data-form {
    width: 630px;
    margin-bottom: 22px;
}

.feedback input, .feedback select {
    width: 630px;
    height: 50px;
    background-color: #e5b66c;
    border: none;
    outline: none;
    box-shadow: none;
    margin-top: 7px;
}

.feedback textarea {
    background-color: #e5b66c;
    border: none;
    outline: none;
    box-shadow: none;
    margin-top: 7px;
    height: 117px;
}

.feedback .select {
    margin-bottom: 3px;
}

.data-form input#us-phone {
    width: 290px;
}

.data-form input#second_us-phone {
    width: 290px;
}


.data-form.number {
    width: 290px;
    float: left;
    margin-right: 50px;
}
.data-form.second-number {
    width: 50%;
    float: left;
}

input[type="checkbox"] {
display: none;
}

select, option    {
    font-size: 16px;
    line-height: 20px;
    font-weight: bolder;
    padding-left: 25px;
    text-transform: uppercase;
    color: #000000;
}

.feedback_form .textarea {
    margin-bottom: 0;
}

input[type=checkbox]:checked + label::before {
    content: '';
    background: url('../img/check.png') no-repeat 50% 50%;
    margin-right: 17px;
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: #e5b66c;
    vertical-align: bottom;
}

input[type=checkbox] + label::before {
    content: '';
    margin-right: 20px;
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: #e5b66c;
    vertical-align: bottom;
}

form div  input.btn {
    margin-top: 20px;
    margin-bottom: 110px;
    width: 200px;
    height: 50px;
    background-color: #834700;
    border: none;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

footer  {
    background-color: black;
}

.page-footer .container {
    max-width: 1010px;
    box-sizing: content-box;
    min-height: 300px;
    margin: 0 auto;
}

.footer-logo {
    float: left;
    width: 271px;
    height: 76px;
    padding-left: 34px;
    padding-top: 51px;
}
.footer-logo img {
    padding-top: 9px;
    width: 140px;
    height: 76px;
}

.footer-nav ul {
    float: left;
    padding: 0;
    list-style: none;
    margin: 68px 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    border-top: 1px solid rgba(255, 255, 255, .2);
    max-width: 600px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.footer-nav li {
    text-align: center;
    float: left;
    text-transform: uppercase;
    padding-bottom: 18px;
    padding-top: 15px;
    margin-right: 54px;
}

.footer-nav li:first-child {
    margin-right: 55px;
}

.footer-nav li:hover {
    border-bottom: 1px solid #FFF;
}

.footer-nav li:last-child {
    margin-right: 0;
}

.footer-nav a {
    color: #ffffff;
    text-decoration: none;
}

.footer-nav a:hover {

    color: #ffcb78;
}

.footer-nav a:active {
    color: rgba(255, 255, 255, 0.3);
}

.social p {
    font-size: 14px;
    line-height: 20px;
    width: 203px;
    float: right;
}

 .social {
    width: 508px;
    height: 68px;
    margin-top: 55px;
    float: left;
}

 .social .social-btn  {
    margin-left: -4px;
    font-size: 0;
}

.social-btn::before {
    content: '';
    border: rgba(255, 203, 120, .1) solid 1px;
    display: inline-block;
    width: 70px;
    height: 68px;
    background: #1b1b1b url("../img/icon-insta.png") no-repeat 50%;
}

 .social-fb::before {
    background-image: url("../img/icon-fb.png");
}

 .social-vk::before {
     background-image: url("../img/icon-vk.png");
 }

.social-btn:first-child::before,
.social-btn:nth-child(2)::before{
    border-right: none;
}

p.copyright {
    float: left;
    width: 203px;
    font-size: 14px;
    line-height: 20px;
    color: #989898;
    margin-top: 60px;
    margin-left: 90px;
}

.logo_footer {
    float: right;
    width: 305px;
    margin-top: 37px;
}

.dev-logo {
    float: left;
    border: rgba(255, 203, 120, .1) solid 1px;
    display: inline-block;
    width: 27px;
    height: 34px;
    padding: 16px 21px;
    background: #1b1b1b ;
    margin-right: 30px;
    margin-top: 19px;
}


.logo_footer p {
    margin-top: 46px;
}

.logo_footer p , .logo_footer a {
    color: #989898;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;

}



